In [3]:
import configparser
import pandas as pd
import boto3
import json

In [8]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

In [ ]:
(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

# Create clients for IAM, EC2, S3 and Redshift

In [10]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Check the data source from S3

In [11]:
bucket=s3.Bucket('udacity-dend')
log_data_files = [filename.key for filename in bucket.objects.filter(Prefix='log-data')]
log_data_files[:20]

['log-data/',
 'log-data/2018/11/2018-11-01-events.json',
 'log-data/2018/11/2018-11-02-events.json',
 'log-data/2018/11/2018-11-03-events.json',
 'log-data/2018/11/2018-11-04-events.json',
 'log-data/2018/11/2018-11-05-events.json',
 'log-data/2018/11/2018-11-06-events.json',
 'log-data/2018/11/2018-11-07-events.json',
 'log-data/2018/11/2018-11-08-events.json',
 'log-data/2018/11/2018-11-09-events.json',
 'log-data/2018/11/2018-11-10-events.json',
 'log-data/2018/11/2018-11-11-events.json',
 'log-data/2018/11/2018-11-12-events.json',
 'log-data/2018/11/2018-11-13-events.json',
 'log-data/2018/11/2018-11-14-events.json',
 'log-data/2018/11/2018-11-15-events.json',
 'log-data/2018/11/2018-11-16-events.json',
 'log-data/2018/11/2018-11-17-events.json',
 'log-data/2018/11/2018-11-18-events.json',
 'log-data/2018/11/2018-11-19-events.json']

In [12]:
song_data_files = [filename.key for filename in bucket.objects.filter(Prefix='song-data/A/A')]
song_data_files[:10]

['song-data/A/A/A/TRAAAAK128F9318786.json',
 'song-data/A/A/A/TRAAAAV128F421A322.json',
 'song-data/A/A/A/TRAAABD128F429CF47.json',
 'song-data/A/A/A/TRAAACN128F9355673.json',
 'song-data/A/A/A/TRAAAEA128F935A30D.json',
 'song-data/A/A/A/TRAAAED128E0783FAB.json',
 'song-data/A/A/A/TRAAAEM128F93347B9.json',
 'song-data/A/A/A/TRAAAEW128F42930C0.json',
 'song-data/A/A/A/TRAAAFD128F92F423A.json',
 'song-data/A/A/A/TRAAAGR128F425B14B.json']

In [13]:
song_data_files = [filename.key for filename in bucket.objects.filter(Prefix='song-data/A/B/C')]
song_data_files[:10]

['song-data/A/B/C/TRABCAS128F14A25E2.json',
 'song-data/A/B/C/TRABCBC12903CEDA2C.json',
 'song-data/A/B/C/TRABCCA128F93304E7.json',
 'song-data/A/B/C/TRABCDB128F422F74C.json',
 'song-data/A/B/C/TRABCEC128F426456E.json',
 'song-data/A/B/C/TRABCEE12903CB19B3.json',
 'song-data/A/B/C/TRABCEI128F424C983.json',
 'song-data/A/B/C/TRABCFL128F149BB0D.json',
 'song-data/A/B/C/TRABCJC128F42759B7.json',
 'song-data/A/B/C/TRABCJL12903CCCE55.json']

# Connect to redshift cluster

In [20]:
# FILL IN THE REDSHIFT ENPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::123171854708:role/dwhRole"

In [21]:
%load_ext sql
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:Passw0rd@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Verify each tables to find out if it is succesfully loaded or not

In [25]:
%%sql 
SELECT * FROM dim_user LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(4, 'Alivia', 'Terrell', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (16, 'Rylan', 'George', 'M', 'free'),
 (16, 'Rylan', 'George', 'M', 'paid'),
 (18, 'Jacob', 'Rogers', 'M', 'free'),
 (19, 'Zachary', 'Thomas', 'M', 'free'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (29, 'Jacqueline', 'Lynch', 'F', 'free'),
 (29, 'Jacqueline', 'Lynch', 'F', 'paid')]

In [26]:
%%sql 
SELECT * FROM dim_song LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SONRTVW12AB017E5D1', 'Let It All Out', 'ARJGAUD1187FB505DA', 0, 487.23546),
 ('SOVBYLF12AB017EBAC', 'Sacrifice for the Slaughtergod', 'ARH8B5X1187FB3B6C0', 2007, 173.37424),
 ('SOWUHSE12AAA15E646', 'Bad Minded People', 'ARVCPE11187FB52F2B', 0, 224.1824),
 ('SOBYGNT12A8C1378FB', 'Love Is All Around', 'AR0Q7DR1187B9AC35D', 2008, 248.842),
 ('SOQYROR12A8C134963', 'Kansas', 'ARMYMUD1187B9B018E', 1988, 232.98567),
 ('SOFFKYC12A8C141B99', 'Ti-Am Promis', 'ARKLV1G1187B989FE9', 2006, 240.84853),
 ('SOAPVNX12AB0187625', 'I Remember Nights Wide Open', 'AR5T40Y1187B9996C6', 1998, 249.3122),
 ('SOBGXZJ12A8C13A602', 'Serafim', 'ARO7LBO1187B9B6154', 1992, 227.3171),
 ('SOBBRKE12AB0181388', 'Tricky Woman', 'AR6NJ1P1187FB59DAB', 1995, 215.11791),
 ('SOZPCFK12AB018C0A4', 'Election Day', 'ARJ8IIY1187B992734', 2005, 69.48526)]

In [27]:
%%sql 
SELECT * FROM dim_artist LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARZ507V1187FB4425E', 'Ragheb Alama', None, None, None),
 ('AR4NREB1187B9AEDAC', 'Mink DeVille', 'New York, NY', 40.71455, -74.00712),
 ('ARERLPG1187FB3BB39', 'Tom Waits', 'Pomona, CA', 34.05464, -117.75002),
 ('ARYPRAE1187B9AC4D5', 'The Real Estate Agents', None, None, None),
 ('ARJ6QUG1187B98BE13', 'Hip Hop Hoodios', None, None, None),
 ('ARRVGAX1187FB4D745', 'Little Eva', 'Bellhaven, NC', 35.21962, -80.01955),
 ('ARXLX5L1187FB47BED', 'Crazy Horse', None, None, None),
 ('ARIIFAI1187B9B101B', 'The Shaky Hands', None, None, None),
 ('AR820DX11C8A4157C3', 'Sir Thomas Beecham/Royal Philharmonic Orchestra', None, None, None),
 ('ARZXYRK1187B99E432', 'John Stevens', 'Madrid', None, None)]

In [28]:
%%sql 
SELECT * FROM dim_time LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 1, 21, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 5, 30, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 16, 16, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 57, 56, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 21, 25, 796000), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 38, 28, 796000), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 18, 15, 796000), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 39, 40, 796000), 11, 2, 44, 11, 2018, 5)]

In [29]:
%%sql 
SELECT * FROM fact_songplay LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(15, datetime.datetime(9999, 6, 27, 4, 40, 39), 73, 'paid', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 692, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (22, datetime.datetime(9999, 6, 27, 4, 40, 39), 80, 'paid', 'SOMULQH12A8C138213', 'ARENWML1187B99ECB6', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (171, datetime.datetime(9999, 6, 27, 4, 40, 39), 30, 'paid', 'SOSQIRI12A8C133897', 'AR1XIHA1187FB4AED3', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (235, datetime.datetime(9999, 6, 27, 4, 40, 39), 49, 'paid', 'SOECLAD12AAF3B120A', 'ARZENOX1187B98A645', 816, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (24, datetime.datetime(9999, 6, 27, 4, 40, 39), 36, 'paid', 'SOVPSWY12A58A7B83F', 'ARF91NB1187B98BDB8', 808, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (81, datetime.datetime(9999, 6, 27, 4, 40, 39), 80, 'paid', 'SOWHEAR12A8C13CE45', 'AR3SX9G1187FB52D72', 992, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (174, datetime.datetime(9999, 6, 27, 4, 40, 39), 25, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 297, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (202, datetime.datetime(9999, 6, 27, 4, 40, 39), 80, 'paid', 'SOWFHCO12AB0189063', 'ARFIU2R1187B9927F9', 434, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (83, datetime.datetime(9999, 6, 27, 4, 40, 39), 25, 'paid', 'SORKKTY12A8C132F3E', 'ARIH5GU1187FB4C958', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (133, datetime.datetime(9999, 6, 27, 4, 40, 39), 25, 'paid', 'SOKOGIP12AB0182FCD', 'AROS1ML1187FB4CF35', 231, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [30]:
%%sql 
SELECT * FROM staging_events LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, datetime.datetime(2018, 11, 3, 1, 4, 33, 796000), None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796, 52, None, 200, datetime.datetime(2018, 11, 3, 1, 5, 23, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Playa Haters', 200, datetime.datetime(2018, 11, 3, 1, 5, 50, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'You Belong With Me', 200, datetime.datetime(2018, 11, 3, 1, 8, 36, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Valerie', 200, datetime.datetime(2018, 11, 3, 1, 12, 26, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Jimmy Eat World', 'Logged In', 'Celeste', 'F', 5, 'Williams', 285.83138, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Dizzy', 200, datetime.datetime(2018, 11, 3, 1, 16, 15, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (None, 'Logged Out', None, None, 0, None, None, 'free', None, 'GET', 'Home', None, 18, None, 200, datetime.datetime(2018, 11, 3, 10, 9, 9, 796000), None, None),
 ('Maldita Nerea', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 241.162, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796, 158, 'Supelicula', 200, datetime.datetime(2018, 11, 3, 14, 17, 50, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 ('Fluke', 'Logged In', 'Connar', 'M', 0, 'Moreno', 478.92853, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540823606796, 168, 'Bermuda', 200, datetime.datetime(2018, 11, 3, 15, 11, 20, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/538.46 (KHTML, like Gecko) Version/8.0 Safari/538.46"', 62),
 ('Habib KoitÃ\x83Â©', 'Logged In', 'Jayden', 'M', 0, 'Fox', 285.1522, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796, 185, 'Din Din Wo', 200, datetime.datetime(2018, 11, 3, 15, 36, 8, 796000), '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101)]

In [31]:
%%sql 
SELECT * FROM staging_songs LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOEKAZG12AB018837E', 1, 'ARSVTNL1187B992A91', 51.50632, -0.12714, 'London, England', 'Jonathan King', "I'll Slap Your Face (Entertainment USA Theme)", 129.85424, 2001),
 ('SOMZZON12A6701D3B9', 1, 'ARKUI581187B9A6856', 53.4796, -2.24881, 'Manchester, England', "Herman's Hermits", 'My Lady (2003 Digital Remaster)', 162.40281, 1997),
 ('SOTEMHH12A8C1389A7', 1, 'ARWDPT81187B99C656', 50.82821, -0.13449, 'Brighton, United Kingdom', 'The Kooks', 'One Last Time', 156.42077, 2008),
 ('SONKSNV12A58A7F654', 1, 'AR8368J1187FB4CFF3', 35.14968, -90.04892, 'Memphis, TN', 'Chris Bell', 'Speed Of Sound', 315.01016, 1992),
 ('SOXRPUH12AB017F769', 1, 'ARXQC081187FB4AD42', 54.31407, -2.23001, 'UK', 'William Shatner_ David Itkin_ The Arkansas Symphony Orchestra_ Paul Rowe', 'Exodus: Part I: Moses and Pharaoh', 1047.71873, 0),
 ('SOLOOSA12AC4688A3C', 1, 'ARQATCR1187FB4D3E6', None, None, 'Madrid, Spain', 'Alejandro Sanz', 'Corazon Partio Club Mix Edit', 270.0273, 0),
 ('SOWUSBD12AB0180D3E', 1, 'ARJAEUC11F50C4DDD9', 31.1689, -100.077148, 'Texas', 'The Strange Fruit Project', 'Speed bump', 243.46077, 0),
 ('SOSLFMU12AB018FFEA', 1, 'ARDOOH01187B991055', None, None, None, 'Ultraviolence', 'Murder Academy', 303.04608, 1995),
 ('SOGYIQL12A8C1329FC', 1, 'AR62BB21187B9AC83D', 42.31256, -71.08868, 'Boston', 'The Breeders', 'No Aloha', 127.21587, 1993),
 ('SORJXPY12AB0182839', 1, 'AR9EZGO1187B9A401F', 36.73112, -91.85307, 'West Plains, MO', 'Jan Howard', 'Bad Seed', 165.98159, 0)]

## Also count each table row numbers

In [33]:
%%sql 
SELECT COUNT(*) FROM dim_user;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(105,)]

In [34]:
%%sql 
SELECT COUNT(*) FROM dim_song;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [35]:
%%sql 
SELECT COUNT(*) FROM dim_artist;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [36]:
%%sql 
SELECT COUNT(*) FROM dim_time;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [37]:
%%sql 
SELECT COUNT(*) FROM fact_songplay;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [38]:
%%sql 
SELECT COUNT(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [39]:
%%sql 
SELECT COUNT(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

# Delete Redshift cluster and Iam role

In [42]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

In [40]:
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cs7peq0dmhdn.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2021, 8, 8, 4, 32, 20, 518000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-f8605dcc',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-a51921dd',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'thu:11:30-thu:12:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::217080952624:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'b6174723-d37a-4e14-af3c-b11036b39dc7',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'b6174723-d37a-4e14-af3c-b11036b39dc7',
   'content-type': 'text/xml',
   'content-length': '2622',
   'vary': 'accept-encoding',
   'date': 'Tue, 10 Aug 2021 01:06:49 GMT'},
  'RetryAttempts': 0}}

In [43]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [44]:
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': 'a68971d2-8c7e-4f16-bb0a-4d9555ce4c88',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'a68971d2-8c7e-4f16-bb0a-4d9555ce4c88',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Tue, 10 Aug 2021 01:08:40 GMT'},
  'RetryAttempts': 0}}